*
{

font-family: "Arial" ;

}
.parent{

background-color: #f8f8f8;
overflow:hidden; 


}
.heading h1{
color: #ff6347;
font-size: 55px;
text-align:center;




}

.container{

display: flex; 
 align-items: center;
width: 90%;
margin :65px auto;


}

.parent-content{

    flex: 100%;

    width: 60px;
margin: 0px 25px;


}
.parent-content h2
{
 font-size:38px;
  margin-bottom: 20px;
color:#333;
}

.parent-content p{

font-size: 24px;
line-height:1.5;
margin-bottom: 40px;
color:#666;




}
.parent-content button{


    background-color: #ff4500;
    color:#fff;
    padding: 12px 24px; 
    font-size:20px;
    cursor: pointer;


    }

.parent-content button:hover{

background-color: #ff6347;


}

